
input[type="file"] {
    display: none;
    
}
.custom-file-upload:hover{
    border-color: #4BA0FE;
    color:#4BA0FE;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    margin-top: 12px;
    padding-top:17px ;
    cursor: pointer;
    width: 120px;
    height: 45px;
    border-radius: 40px;
    color: #4BA0FE;
    text-align: center;
  
}
        input[type=text], select {
          width: 100%;
          padding: 20px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 19px;
          box-sizing: border-box;
          background: #1E2833;;
          color: white;
        }
        
        input[type=submit] {
          width: 160px;
          height: 55px;
          background-color: 	#4BA0FE;
          color: white;
          padding: 14px 20px;
          margin-left: 75%;
          border: none;
          border-radius: 90px;
          cursor: pointer;
        }
        
        
        input[type=submit]:hover {
          transform: scale(0.9);
        }
        
        div {
          border-radius: 5px;
          background-color: #1E2833;
          padding: 20px;
        }
        h1{
          color: white;
        }
        p{
          color: #ccc;
        }
        form{
          color: #ccc;
        }
        body{
          background-color: #1E2833;
          font-family: euclid;

        }
        .navbar {
  overflow: hidden;
  background-color:rgba(0, 0, 0,);
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  margin-left: -8px;
  
  
    -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border:1px solid rgba(255, 255, 255, 0.2);
  border-left: none;
  border-top: none;
}
  

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 19px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}


/*side bar*/
.sidenav {
  height: 777px;
  width: 200px;
  position: static;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1E2833;
  overflow-x: hidden;
  padding-top: 20px;
  border:1px solid #6B7076;
  border-left: none;
  border-top: none;
  border-bottom: none;
  font-size: 20px;
  font-weight: 600;
  margin-left: 100px;
  text-align: right;
}
a{
margin-bottom: 80px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #BBBEC2;
  display: block;
}

.sidenav a:hover {
  color: #4BA0FE;
  font-size: 25px;}

      